@font-face {
    font-family: 'Header Font';
    src: url('/assets/fonts/header.otf') format('opentype');
}

@font-face {
    font-family: 'Title Font';
    src: url('/assets/fonts/title.ttf') format('truetype');
}